body {
  background-color: #fff;
}

nav {

  ul li a {
    font-size: small;
  }
}

.btn-primary {
  background-color: black;
}

header {
  background-color: rgb(246, 246, 248) !important;
}

.section-networks {
  margin-top: 20px;
  padding: 25px;

  h2 {
    text-align: center;
    color: #dddddd;
  }

  p {
    text-align: center;
    color: #dddddd;
  }

  .img-net {
    border: 0px;
    max-width: 100px;
  }
}