body {
  background-color: rgb(246, 246, 246);
}

nav {

  ul li a {
    font-size: small;
  }
}

header {
  .jumbotron {
    background: rgb(246, 246, 246) !important;
  }
}

.section-networks {
  background-color: #ffffff;
  margin-top: 50px;
  padding: 25px;

  h2 {
    text-align: center;
    color: #dddddd;
  }

  p {
    text-align: center;
    color: #dddddd;
  }

  .img-net {
    border: 0px;
    max-width: 100px;
  }
}