body {
  background-color: #fff;
  font-family: 'Montserrat';
  
}

nav {

  ul li a {
    font-size: small;
  }
}

.main-color {
  background-color: #17416B;
}

.btn-primary {
  background-color: rgb(28, 61, 119);
  border: 0;
}

.btn-secondary {
  background-color: #b4b4b4;
  color: rgb(28, 61, 119);
  border: 0;
}

header {
  padding-left: 60px;
  padding-right: 60px;

  h3 {
    color: #ffffff;
    margin-top: 90px;
  }

  p {
    color: #fff;
  }

  .btn-white {
    margin-top: 45px;
    background-color: #fff;
    color: #000000;

    &:hover {
      background-color: #1f568d;
      color: #ffffff;
    }
  }

  .img-side {
    padding: 0px;
  }

}

.section-featured-item {
  margin-top: 15px;
}

.section-networks {
  margin-top: 15px;
  padding: 25px;

  h2 {
    text-align: center;
    color: #dddddd;
  }

  p {
    text-align: center;
    color: #dddddd;
  }

  .img-net {
    margin-top: -30px;
    border: 0px;
    max-width: 700px;
  }
}

.section-footer {
  margin-top: 30px;
  background-color: #17416B;
  padding: 20px;
  padding-left: 240px;
  padding-right: 240px;

  bottom: 0px;
  p {
    color: #fff;
  }

  a {
    color: #ffffff;
    i{
      color: #ffffff;
    }
  }
}


@media (max-width: 978px) {
  .header-top {
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media(max-width:1200px) {
  .section-footer {
    padding: 30px;
  }
}