body {
  background-color: #fff;
  font-family: "Montserrat";
}

nav ul li a {
  font-size: small;
}

.main-color {
  background-color: #17416b;
}

.btn-primary {
  background-color: #1c3d77;
  border: 0;
}

.btn-no-color {
  background-color: transparent;
}

.btn-no-color button:focus {
  outline: 0;
}

.btn-secondary {
  background-color: #b4b4b4;
  color: #1c3d77;
  border: 0;
}

header {
  padding-left: 60px;
  padding-right: 60px;
}

header h3 {
  color: #ffffff;
  margin-top: 60px;
}

header p {
  color: #fff;
}

header .btn-white {
  margin-top: 45px;
  background-color: #fff;
  color: #000000;
}

header .btn-white:hover {
  background-color: #1f568d;
  color: #ffffff;
}

header .img-side {
  padding: 0px;
}

.section-featured-item {
  margin-top: 15px;
}

.section-featured-item ul li a {
  color: #b4b4b4;
  text-decoration: none;
}

.section-featured-item ul li a:hover {
  color: #1f568d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-featured-item .btn-show {
  background-color: #1f568d;
  color: #fff;
  border-radius: 10;
}

.section-featured-item .btn-show:hover {
  background-color: #2773be;
}

.section-featured-item h2 {
  color: #071c4d;
  font-weight: bold;
  margin-bottom: 0;
}

.section-networks {
  margin-top: 15px;
  padding: 25px;
}

.section-networks h2 {
  text-align: center;
  color: #dddddd;
}

.section-networks p {
  text-align: center;
  color: #dddddd;
}

.section-networks .img-net {
  margin-top: -30px;
  border: 0px;
  max-width: 700px;
}

.section-footer {
  margin-top: 30px;
  background-color: #17416b;
  padding: 20px;
  padding-left: 240px;
  padding-right: 240px;
  bottom: 0px;
}

.section-footer p {
  color: #fff;
}

.section-footer a {
  color: #ffffff;
}

.section-footer a i {
  color: #ffffff;
}

@media (max-width: 978px) {
  .header-top {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .section-footer {
    padding: 30px;
  }
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.section-details-content .card-details {
  padding: 30px;
  border: none;
}

.section-details-content .card-details .product-information th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .product-information td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .product-information .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 2px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-add {
  background-color: #1f568d;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-add:hover {
  background-color: #2773be;
}

.section-details-content .btn-buy {
  background-color: #2773be;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-buy:hover {
  background-color: #1f568d;
}

.section-details-content .input-group-text {
  background-color: transparent;
}

.section-details-content h3 {
  font-weight: 400;
  font-size: 14px;
  color: #071c4d;
}

.section-cart-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -68px;
}

.section-cart-detail {
  margin-top: -210px;
  min-height: 100vh;
}

.section-cart-detail .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-cart-detail .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.section-cart-detail .card-details .product-information th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-cart-detail .card-details .product-information td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-cart-detail .card-details .product-information .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.section-cart-detail .card-details h1 {
  font-size: 26px;
}

.section-cart-detail .card-details h2 {
  font-size: 20px;
}

.section-cart-detail .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-cart-detail .btn-chekout {
  background-color: #2773be;
  color: #fff;
}

.section-cart-detail .btn-chekout:hover {
  background-color: #1f568d;
}
/*# sourceMappingURL=style.css.map */